<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^share/game/([0-9]+)/og\.png$ og.php?id=$1 [L,QSA]
  RewriteRule ^share/game/([0-9]+)$         share.php?id=$1 [L,QSA]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ index.php [L,QSA]
</IfModule>
